html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
input,
select {
    outline: none;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: $color-text;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.lnr {
    font-family: "Linearicons-Free";
}

.breadcrumbs {
    &__list {
        display: inline-block;
        position: relative;        
        & + .breadcrumbs__list {
            padding-left: 20px;
            &::before {
                content: "/";
                position: absolute;
                left: 3px;
                color: $color-white;            
            }            
        }
      
    }
    
    &__link {
        font-size: 15px;
        line-height: 1.5;
        color: $color-white;        
    }
    &__menu {
        .breadcrumbs__list:last-child {
            .breadcrumbs__link {
                color: #bfcad7;
            }            
        }
    }
}
