html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $color-text;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.desc {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.lnr {
    font-family: 'Linearicons-Free';
}

.title {
    font-size: 30px;    
    color: $color-black;
    // background-color: $color-white;
    min-height: 110px;
    padding-left: 30px;
    padding-top: 40px;    
}


  