html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $color-text;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.desc {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.lnr {
    font-family: 'Linearicons-Free';
}

.products__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;    
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);  
    background-color: $color-white;
} 
.title {
    font-size: 30px;    
    color: $color-black;    
    min-height: 110px;
    padding-left: 30px;
    padding-top: 40px;    
}

button {
    outline-width: 0;
}


  