$color-text: #555555;
$color-black: #000000;
$color-grey: #333333;
$color-white: #ffffff; 
$color-blue: #0674ec;
$color-bgblue: #1237c0;
$color-lightgray: #eef1f3;
$color-violet: #7347c1;
$color-search: #898f96;

