@import "_fonts";
@import "_vars";
@import "_global";

.header__top {
    min-height: 100px;
    background-color: $color-lightgrey;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 25px 0 15px 7px;
}

.btn {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    &--lg {
        padding: 12px 43px;
        border-radius: 26px;
    }
    &--big {
        padding: 12px 32px;
        border-radius: 26px;
    }
    &--middle {
        padding: 6px 27px 6px 26px;
        border-radius: 26px;
    }
    &--sm {
        padding: 0 16px;
    }
    &--blue {
        color: $color-white;
        background-color: $color-blue;
    }
    &--transp {
        border: 1px solid $color-white;
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &--white {
        color: $color-blue;
        background-color: $color-white;
    }
    &--grey {
        color: #868c96;
        background-color: #f1f3f6;
    }
}

.header__btn {
    margin-left: auto;
    margin-right: 49px;
    padding: 5px 19px 3px 17px;
    font-size: 14px;
    line-height: 2;
    border-radius: 18px;
}

.header__info {
    margin-right: 45px;
    margin-bottom: -4px;
}

.header__link {
    position: relative;
    font-size: 20px;
    color: rgb(126, 143, 161);
}

.header__info .header__link + .header__link {
    margin-left: 27px;
}

.header__icon {
    font-size: 20px;
    &--magnifier {
        color: $color-white;
        font-size: 15px;
        line-height: 2;
    }
}

.header__notif {
    position: absolute;
    top: -9px;
    padding: 0 7px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    color: $color-white;
    border-radius: 50%;
    &--tomato {
        padding: 0 5px;
        left: 8px;
        background-color: #ff6a6c;
    }
    &--green {
        left: 11px;
        background-color: #62d03b;
    }
    &--blue {
        left: 14px;
        background-color: $color-blue;
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__photo {
        border-radius: 50%;
        margin-right: 23px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &--largest {
            width: 80px;
            height: 80px;
        }
        &--biggest {
            width: 50px;
            height: 50px;
        }
        &--lg {
            width: 30px;
            height: 30px;
        }
        &--middle {
            width: 28px;
            height: 28px;
        }
        &--sm {
            width: 16px;
            height: 16px;
        }
    }

    &__name {
        font-weight: 600;
        line-height: 1.4;
        &--grey {
            color: $color-grey;
        }
        &--black {
            color: $color-black;
        }
        &--violet {
            color: $color-violet;
        }
    }
    &__money {
        display: block;
        font-weight: 400;
        font-size: 15px;
        color: $color-blue;
    }
}

.header__inner {
    min-height: 80px;
}

.menu {
    list-style: none;
    &__item {
        display: inline-block;
        & + & {
            margin-left: 29px;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 15px;
        line-height: 2.8;
        text-transform: uppercase;
        color: $color-grey;
    }
}

.header__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 360px;
    width: 100%;
    min-height: 44px;
    font-size: 15px;
    line-height: 2;
    color: $color-search;
    border: 1px solid rgb(217, 223, 229);
    border-radius: 22px;
}

.visually-hidden {
    display: none;
}

.header__search-input {
    display: block;
    width: 100%;
    margin-left: 22px;
    margin-bottom: 4px;
    border: none;
    &:focus {
        outline: none;
    }
}

.header__search-btn {
    max-width: 70px;
    width: 100%;
    min-height: 44px;
    background-color: $color-blue;
    border-radius: 22px;
    border: none;
    cursor: pointer;
}

.intro {
    position: relative;
    min-height: 725px;
    background: linear-gradient(to left, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
}

.intro__header {
    padding: 110px 0 100px;
    text-align: center;
    color: #f3f3f8;
}
.intro__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 1.2;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    &--size {
        display: block;
        font-weight: 700;
    }
}
.intro__desc {
    margin-top: 0;
    margin-bottom: 55px;
    font-weight: 600;
    font-size: 20px;
    line-height: 2.5;
}

.intro__link-products {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    margin: 0 12px;
}
.intro__footer {
    display: flex;
    justify-content: center;
    position: relative;
}
.intro__search {
    position: absolute;
    top: 65px;
    padding: 40px;
    width: 100%;
    background-color: #f3f3f8;
    border-radius: 6px;
    z-index: 3;
}
.intro__box {
    position: absolute;
    width: 100%;
    min-height: 62px;
    background-color: #f3f3f8;
    opacity: 0.5;
    border-radius: 6px;
    &--m {
        max-width: 1110px;
        top: 52px;
        z-index: 2;
    }
    &--sm {
        max-width: 1080px;
        top: 39px;
        z-index: 1;
    }
}
.intro__search-form {
    display: flex;
    justify-content: space-between;
}
.intro__search-input {
    width: 100%;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(220, 220, 220);
    line-height: 3.2;
    padding-left: 28px;
}

.intro__search-select {
    padding-left: 21px;
    padding-right: 70px;
    margin-right: 30px;
    border: none;
    color: rgb(85, 85, 85);
    line-height: 3.2;
    border-radius: 0 4px 4px 0;
    border: 1px solid rgb(220, 220, 220);
    background-repeat: no-repeat;
    background-position: right 20px center;
    cursor: pointer;
    appearance: none;
}

.intro__search-btn {
    max-width: 223px;
    width: 100%;
    color: $color-white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.features,
.advantages,
.reviews,
.support {
    background-color: #fdfdfd;
}

.features__inner,
.advantages__items,
.news__items,
.support__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.features__inner {
    margin: 186px 0 121px;
}

.features__item,
.advantages__item {
    border-radius: 4px;
    max-width: 361px;    
    text-align: center;
    color: #2b2b2b;
}
.features__item {
    padding-top: 45px;
    padding-bottom: 42px;
}
.features__item:hover,
.advantages__item {
    background-color: $color-white;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}

.features__item-img {
    min-height: 113px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.features__item-title,
.advantages__item-title {
    font-size: 24px;
}
.features__item-text,
.advantages__item-text {
    padding: 0 30px;
    margin-top: 14px;
    margin-bottom: 0;
}

.featured,
.followers,
.news {
    background-color: #eff1f5;
}
.slider {
    padding: 120px 0;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 29px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: $color-white;
}
.slider__caption {
    margin-bottom: 50px;
}

.topic {
    font-size: 30px;
    line-height: 2;
    color: $color-black;
}
.slider__arrows {
    padding: 4px 17px;
    border-radius: 23px;
    border: none;
    &--violet {
        background-color: rgb(115, 71, 193);
    }
    &--blue {
        background-color: $color-blue;
    }
}

.slider__arrows .slick-arrow {
    font-size: 14px;
    line-height: 2.8;
    color: $color-white;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.slider__arrows .slick-next {
    padding-right: 4px;
    padding-left: 19px;
}
.slider__arrows .slick-prew {
    padding-left: 5px;
    padding-right: 18px;
}
.slick-next:focus,
.slick-prew:focus {
    outline-width: 0;
}

.slider__inner {
    border-radius: 3px;
    overflow: hidden;
    &--white {
        background-color: $color-white;
    }
}

.slider__product {
    display: flex !important;
    justify-content: space-between;
}

.slider__header,
.product__header {
    position: relative;
}

.slider__img {
    max-width: 555px;
    min-height: 450px;
}
.hover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    background: linear-gradient(to left, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    opacity: 0.9;
    overflow: hidden;
    transition: height 0.5s;
}
.slider__hover {
    width: 555px;
}
.slider__header:hover .slider__hover {
    height: 450px;
}
.slider__hover-btn {
    margin-right: 12px;
    margin-left: -1px;
    font-weight: 600;
    font-size: 15px;
    line-height: 2.1;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid $color-white;
    cursor: pointer;
    &--more {
        padding: 6px 30px;
    }
}
.slider__content {
    padding: 47px 49px 43px 49px;
}

.title {
    font-weight: 600;
    color: $color-black;
}
.slider__title {
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 1;
}

.slider__author,
.product__author {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.slider__photo {
    margin-right: 9px;
}

.slider__name,
.product__name {
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    &--bigmargin {
        margin-right: 20px;
    }
}
.slider__desc {
    margin-bottom: 32px;
}
.slider__tag {
    padding-left: 16px;
    margin-right: 1px;
    margin-left: 3px;
    font-size: 15px;
    text-align: center;
    box-shadow: none;
    border-radius: 15px;
    border: none;
    &--website {
        padding-right: 14px;
    }
    &--plugin {
        padding-right: 15px;
    }
    &--landing {
        padding-left: 14px;
        padding-right: 10px;
    }
}
.slider__footer,
.product__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
}
.slider__footer {
    padding: 24px 0 23px;
    margin: 0 49px;
}

.slider__price,
.product__price {
    margin-left: 3px;
    font-weight: 600;
    font-size: 15px;
    line-height: 2;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.slider__price {
    margin-right: 14px;
    padding: 6px 17px 6px 18px;
    color: $color-white;
    background-color: $color-blue;
}
.slider__favorite,
.slider__basket,
.product__favorite,
.product__basket {
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin-right: 2px;
    cursor: pointer;
}
.slider__icon {
    margin-right: 5px;
}
.slider__icon,
.product__icon {
    &--violet {
        color: $color-violet;
    }
    &--blue {
        color: $color-blue;
    }
    &--grey {
        color: $color-grey;
    }
}
.slider__counter,
.product__counter,
.news__counter {
    font-size: 15px;
    &--blue {
        color: $color-blue;
    }
    &--grey {
        color: $color-grey;
    }
}
.jq-ry-container {
    padding: 0;
}
.release {
    background-color: #f6f7fb;
}

.products {
    padding: 120px 0 117px;
}

.products__caption {
    margin-bottom: 31px;
}

.products__filter-list {
    position: relative;
}
.products__filter {
    background-image: url(../images/filter.svg);
    background-repeat: no-repeat;
    background-position: right;
    color: #747b86;
    line-height: 2;
    padding-right: 28px;
    border: none;
    background-color: transparent;
}

.list {
    display: none;
    position: absolute;
    top: 50px;
    right: -21px;
    z-index: 1;
    padding: 20px 53px 19px 26px;
    font-size: 15px;
    background-color: $color-white;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-radius: 3px;
    &::before {
        content: "";
        position: absolute;
        top: -12px;
        right: 19px;
        width: 0;
        height: 0;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        border-bottom: 12px solid $color-white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }
    &__link {
        white-space: nowrap;
        transition: color 0.5s;
        &:hover {
            color: $color-blue;
        }
    }
}

.product__category {
    padding: 29px;
    margin-bottom: 53px;
    margin-left: 1px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    background-color: $color-white;
    border-radius: 4px;
}
.category {
    padding: 0 18px;
    margin-right: 7px;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    color: #747b86;
    background-color: #f1f3f6;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
.mix__plugin,
.category.mixitup-control-active {
    padding-left: 19px;
    padding-right: 20px;
    font-weight: 600;
    color: $color-white;
    background-color: $color-blue;
}
.products__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.product {
    max-width: 361px;
    background-color: $color-white;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    overflow: hidden;
}
.products__inner .product {
    margin-bottom: 31px;
}

.product__img {
    width: 361px;
    height: 230px;
}

.product__hover {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product__header:hover .product__hover {
    height: 230px;
}
.product__hover-btn {
    margin-left: 7px;
    margin-right: 2px;
    padding: 5px 28px;
    font-weight: 600;
    font-size: 15px;
    line-height: 2.1;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid $color-white;
    cursor: pointer;
}
.product__content {
    padding: 10px 25px 12px 28px;
}
.product__title {
    font-size: 20px;
    margin-bottom: 8px;
}
.product__avatar {
    margin-left: 2px;
    margin-right: 7px;
}
.product__photo {
    margin-right: 7px;
    background-size: contain;
}
.product__author {
    margin-bottom: 24px;
}
.product__desc {
    margin-left: 2px;
}
.product__footer {
    padding: 15px 22px 16px 29px;
}
.product__footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__price {
    padding: 0 16px;
    margin-right: 10px;
    color: $color-blue;
    background-color: #e6f1fd;
    &--padding {
        padding: 0 14px;
    }
}
.product__icon {
    margin-right: 3px;
}
.product__rating {
    margin-left: 8px;
}

.product__hover-inner {
    display: flex;
    justify-content: center;
}
.product__hover-btn {
    padding: 0 32px;
    margin-right: 5px;
    font-weight: 400;
    font-size: 16px;
    color: $color-white;
    line-height: 3.4;
    background-color: rgb(6, 116, 236);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}
.statistics {
    background-color: rgb(13, 15, 19);
}
.statistics__inner {
    padding: 94px 0 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statistics__item {
    text-align: center;
}

.statistics__icon {
    margin-bottom: 43px;
    font-size: 48px;
    line-height: 1;
}
.statistics__counter {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 1;
}

.statistics__icon,
.statistics__counter {
    &--yellow {
        color: $color-yellow;
    }
    &--blue {
        color: $color-blue;
    }
    &--green {
        color: $color-green;
    }
    &--carrot {
        color: $color-carrot;
    }
}
.statistics__title {
    margin: 0;
    font-size: 18px;
    line-height: 2;
    color: $color-white;
}
.advantages__inner {
    margin: 119px 0 89px;
    text-align: center;
}
.advantages__item {
    padding-bottom: 51px;
    margin-bottom: 30px;
}
.advantages__item-number {
    margin: 15px 0 0 18px;
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    text-align: left;
    color: rgba(92, 135, 248, 0.2);
}

.advantages__icon {
    margin-top: -11px;
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 1;
    &--blue {
        color: $color-blue;
    }
    &--violet {
        color: $color-violet;
    }
    &--green {
        color: $color-green;
    }
    &--orange {
        color: $color-orange;
    }
    &--lightblue {
        color: $color-lightblue;
    }
    &--carrot {
        color: $color-carrot;
    }
}

.advantages__title,
.reviews__title,
.news__title {
    font-size: 36px;
    line-height: 1;
    color: $color-black;
    &--blue {
        color: $color-blue;
    }
}
.advantages__title {
    margin-bottom: 19px;
}
.advantages__text,
.reviews__text,
.news__text {
    margin: 0 220px 53px;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.service__sell,
.service__buy {
    padding: 100px 180px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.service__img {
    margin-bottom: 45px;
    min-height: 101px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    &--alignment {
        margin-right: -16px;
    }
}
.service__title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1;
    color: $color-white;
}

.service__desc {
    margin-bottom: 45px;
    color: $color-white;
}

.service__link {
    padding-left: 26px;
    padding-right: 26px;
    min-width: 190px;
    &--violet {
        color: $color-violet;
    }
}

.reviews__inner {
    margin: 117px 0;
    text-align: center;
    position: relative;
}

.reviews__title,
.news__title {
    margin-bottom: 21px;
}

.reviews__item {
    padding: 37px 39px 43px;
    text-align: left;
    border-left: 2px solid $color-blue;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    max-width: 555px;
}

.reviews__item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.reviews__item-photo {
    margin-right: 18px;
}
.reviews__item-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}
.reviews__item-profession {
    margin: 5px 0;
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: $color-text;
}

.reviews__item-icon {
    margin-top: 15px;
    font-size: 60px;
    line-height: 1;
    color: #e8e8e8;
}

.reviews__item-text {
    margin: 0;
}

.reviews__slider {
    margin-bottom: 60px;
    .slick-slide.slick-active {
        padding-right: 30px;
    }
}

.reviews__slider .slick-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    color: $color-blue;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
    border-radius: 50%;
    border: none;
}

.reviews__slider .slick-arrow.slick-prew {
    left: -25px;
    top: 135px;
}
.reviews__slider .slick-arrow.slick-next {
    right: -25px;
    top: 135px;
}
.reviews__btn {
    margin-bottom: 120px;
}

.news__inner {
    padding: 119px 0;
    text-align: center;
}

.news__item-title {
    font-weight: 600px;
    font-size: 22px;    
    line-height: 1.6;
}

.news__content {
    text-align: left;
    padding: 10px 20px 8px 28px;
}

.news__desc {
    margin-top: 15px;
    padding-right: 15px;
}

.news__footer {
    padding: 14px 30px;
}

.news__date,
.news__icon,
.news__counter {
    font-size: 15px;
    line-height: 2;
    color: #999999;
    &--blue {
        color: $color-blue;
    }
}
.news__icon {
    margin-right: 4px;
}
.news__footer {
    display: flex;
    justify-content: space-between;   
    
}

.news__date {
    width: 50%;
    border-right: 1px solid #ececec;   
    text-align: left; 
}

.news__reviews{
    width: 50%;
    text-align: right;
}
.news__reviews-link {
    margin-right: 25px;
}

.support__inner .support__item + .support__item {
    border-left: 1px solid #e8eaf3;
}

.support__item {
    padding: 63px 128px 57px 85px;
    width: 50%;
    text-align: center;    
    &--support {
        padding-left: 113px;        
    }    
}

.support__item-img {    
    margin-bottom: 22px;
    min-height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;   
}

.support__title {
    font-size: 24px;
    line-height: 1.5;
    &--blue {
        color: $color-blue;        
    }
    &--violet {
        color: $color-violet;
    }
}

.banner {
    background: linear-gradient(to left, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
    opacity: 0.9;
}  

.banner__inner {
    padding: 90px 305px 110px;
    text-align: center;
}

.banner__title {
    margin: 16px 0;
    font-size: 36px;
    line-height: 1;
    color: $color-white;
}

.banner__desc {
    margin: 24px 0 52px;
    font-size: 18px;
    line-height: 1;
    color: #e7e7e7;
}
    


  